name: Semantic Release

on:
  push:
    branches:
      - main # Atau 'master', sesuaikan dengan branch utamamu

permissions:
  contents: write # Izin untuk membuat release & tag
  issues: write   # Izin untuk komentar di issue (jika ada)
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm ci

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          # GITHUB_TOKEN sudah disediakan otomatis oleh GitHub Action
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          semantic_version: 19
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'main',
              'master'
            ]
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git